/* DS: 
- Can we remove CSS grid code from this file and use flex box instead? 
*/

.add-subscriber-user{
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	grid-template-columns: 14px 60px 1fr;
	grid-gap: 20px;
}
.add-subscriber-users{
	display: grid;
	grid-gap: 20px;
	grid-column: 1/-1;
	justify-self: baseline;
	width: 100%;
	max-height: 60vh;
    overflow: auto;
}
.subscribe-container{
	display: grid;
    grid-gap: 20px;
}
.add-subscriber-modal.fade{
	z-index: -100;
}
.add-subscriber-modal.fade.show{
	z-index: 100;
}
.modal-backdrop.show {
	opacity: 0 !important;
	z-index: -100 !important;
}
.add-subscriber-modal-opener{
    display: grid !important;
    grid-template-columns: 13px 1fr;
    align-items: center;
    grid-gap: 5px;
    justify-items: center;
}
.add-subscriber-modal-opener svg{
	height: 20px !important;
}
.add-subscriber-modal-opener svg path{
	fill: #6950a1;
}
.add-subscriber-modal-opener:hover svg path{
	fill: var(--brightness-97);
}
.subscribed-user-list-container{
	display: flex;
    align-items: center;
    grid-gap: 10px;
	width: 100%;
}
.add-subscribers-container{
    display: grid;
    align-items: center;
    justify-items: baseline;
    grid-row-gap: 10px;
}
.option_container hr{ 
	padding: 0 !important;
	display: block !important;
	margin: 0 !important;
}

.add-subscriber-modal .modal-content{
	box-sizing: content-box;
}

.save-subscribers{
	position: absolute;
    right: 20px;
    bottom: 20px;
}
.subscribed-user-list{
	display: flex;
    grid-auto-flow: column;
    grid-gap: 10px;
    margin: 10px;
	grid-auto-columns: fit-content(100px);
}
.manage-export-form{
	display: flex;
    justify-content: space-between;
    width: 100%;
}
.hc-database-export{
	color: #ffffff;
}
.h-export-form{
	gap: 5px;
}
.h-export-form:hover a{
	color: var(--primary-main);
}
