#your-profile {
    display: grid;
}

#your-profile .avatar.avatar-96{
    object-fit: cover;
}

.user-php .users .avatar.avatar-96{
    object-fit: cover;
}

#your-profile .cognitively-profile-upload-options{
    grid-row: 8;
}

#your-profile .cognitively-profile-designation{
    grid-row: 9;
}

#profile-page .user-pinterest-wrap,
#profile-page .user-myspace-wrap,
#profile-page .user-soundcloud-wrap,
#profile-page .user-tumblr-wrap,
#profile-page .user-wikipedia-wrap {
    display: none;
}

#your-profile h2:nth-of-type(1),
#your-profile .form-table:nth-of-type(1){
    display: none;
}