@font-face {
  font-family: 'abrilbold';
  font-weight: normal;
  font-style: normal;
  font-display: block;
  src: local("Abril_Text_Bold"),
    url("Abril_Text_Bold.otf") format("opentype"),
}

@font-face {
  font-family: 'abrilbolditalic';
  font-weight: normal;
  font-style: normal;
  font-display: block;
  src: local("Abril_Text_BoldItalic"),
    url("Abril_Text_BoldItalic.otf") format("opentype"),
}

@font-face {
  font-family: 'abrilextrabold';
  font-weight: normal;
  font-style: normal;
  font-display: block;
  src: local("Abril_Text_ExtraBold"),
    url("Abril_Text_ExtraBold.otf") format("opentype"),
}

@font-face {
  font-family: 'abrilextrabolditalic';
  font-weight: normal;
  font-style: normal;
  font-display: block;
  src: local("Abril_Text_ExtraBoldItalic"),
    url("Abril_Text_ExtraBoldItalic.otf") format("opentype"),
}

@font-face {
  font-family: 'abrilitalic';
  font-weight: normal;
  font-style: normal;
  font-display: block;
  src: local("Abril_Text_Italic"),
    url("Abril_Text_Italic.otf") format("opentype"),
}

@font-face {
  font-family: 'abrilregular';
  font-weight: normal;
  font-style: normal;
  font-display: block;
  src: local("Abril_Text_Regular"),
    url("Abril_Text_Regular.otf") format("opentype"),
}

@font-face {
  font-family: 'abrilsemibold';
  font-weight: normal;
  font-style: normal;
  font-display: block;
  src: local("Abril_Text_SemiBold"),
    url("Abril_Text_SemiBold.otf") format("opentype"),
}

@font-face {
  font-family: 'abrilsemibolditalic';
  font-weight: normal;
  font-style: normal;
  font-display: block;
  src: local("Abril_Text_SemiBoldItalic"),
    url("Abril_Text_SemiBoldItalic.otf") format("opentype"),
}