.content-selection-modal-common .media-frame-search {
    position: absolute;
    top: 0;
    left: 0;
    right: 50px;
    height: 50px;
    z-index: 200;
}

.content-selection-modal-common.hidden-content-selection-modal {
    opacity: 0;
    z-index: -100;
    pointer-events: none;
}
.content-selection-modal-common .modal-window-notice{
    font-size: 16px;
}
.content-selection-modal-common .media-frame-title-text{
    font-size: 24px;
}
.content-selection-modal-common .pad-left {
    padding-left: 40px !important;
}
.media-modal-content h1,
.media-modal-content h2,
.media-modal-content h3,
.media-modal-content h4,
.media-modal-content h5,
.media-modal-content h6,
.media-modal-content p{
    font-family: "Inter", sans-serif!important;
    font-weight: 600;
    letter-spacing: normal;
}
.content-selection-modal-common .media-item-tab-content,
.content-selection-modal-common .input-objects-wrapper {
    padding: 10px 20px;
}
.media-frame-title h1{
    font-size: 16px !important;
}
.media-frame-title-text,
.media-frame-subtitle {
    display: inline-block;
}

.content-selection-modal-common .media-item-tab-content tbody tr:first-child td.sort .sort-button[data-sort="up"],
.content-selection-modal-common .input-objects-wrapper tbody tr:first-child td.sort .sort-button[data-sort="up"],
tr[data-post_type="playlist"]+tr td.sort .sort-button[data-sort="up"] {
    visibility: hidden;
}

.content-selection-modal-common .media-item-tab-content tbody tr:last-child td.sort .sort-button[data-sort="down"],
.content-selection-modal-common .input-objects-wrapper tbody tr:last-child td.sort .sort-button[data-sort="down"] {
    visibility: hidden;
}

.content-selection-modal-common .media-item-tab-content .sort-button,
.content-selection-modal-common .input-objects-wrapper .sort-button {
    cursor: pointer;
}

.content-selection-modal-common .objects-table {
    border-collapse: collapse;
    width: 100%;
}

.content-selection-modal-common .objects-table th {
    text-align: left;
    border: none !important;
    padding: 0px !important;
    padding-bottom: 10px !important;
    color: var(--brightness-7);
}

.content-selection-modal-common .object-row {
    font-family: "Inter", sans-serif !important;
}

.content-selection-modal-common .remove-object-button {
    cursor: pointer;
}


.content-selection-modal-common .media-toolbar-primary {
    margin-top: 10px;
    /* height: auto; */
}

.content-selection-modal-common .media-toolbar-primary-position-container {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.content-selection-modal-common .object-row {
    cursor: pointer;
}

.content-selection-modal-common .object-row.selected {
    background-color: var(--brightness-86);
}

.content-selection-modal-common .objects-table-pagination {
    float: right;
}

.content-selection-modal-common .objects-table-pagination .current {
    display: inline-block;
    padding: 5px;
}

.content-selection-modal-common .media-menu-item.deactivated {
    color: var(--brightness-86) !important;
    cursor: default;
}

.content-selection-modal-common .media-menu-item.activated:before {
    content: "\2022";
    color: var(--green);
    font-size: 20px;
    font-weight: bold;
}

.content-selection-modal-common .media-menu-item-header {
    display: block;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    color: var(--brightness-20);
    border: 0;
    margin: 0;
    padding: 8px 20px;
    font-size: 14px;
    line-height: 1.28571428;
    background: 0 0;
    text-align: left;
    text-decoration: none;
}

.content-selection-modal-common .media-menu {
    overflow-y: auto;
}

.content-selection-modal-common .media-menu .media-menu-item {
    color: var(--brightness-20);
}

.content-selection-modal-common .media-menu .media-menu-item.active,
.content-selection-modal-common .media-menu .media-menu-item.active:hover {
    color: #0073aa;
    font-weight: 600;
}

.content-selection-modal-common #tabs {
    border: 0px;
}

.content-selection-modal-common .object-row td {
    padding: 2px;
    font-size: 14px !important;
    color: var(--brightness-20) !important;
    font-weight: 300 !important;
    border: none !important;
}

.content-selection-modal-common .object-row img {
    object-fit: contain;
}

.content-selection-modal-common .ui-dialog {
    border: 1px solid var(--brightness-93) !important;
}

.content-selection-modal-common .media-table {
    display: grid;
    grid-template-columns: repeat(auto-fit, 150px);
    grid-template-rows: repeat(auto-fit, 150px);
    grid-gap: 20px;
}

.content-selection-modal-common .media-table .img {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
}

.content-selection-modal-common .media-table .selected {
    padding: 10px;
    box-shadow: inset 0 0 0 3px var(--brightness-97), inset 0 0 0 7px #0073aa;
}

.content-selection-modal-common .add-to-slice-link {
    text-decoration: none;
}

.content-selection-modal-common td.post_id {
    width: 12%;
}

.content-selection-modal-common td.post_type {
    width: 15%;
}

.content-selection-modal-common .media-frame ::-webkit-input-placeholder {
    color: var(--brightness-86);
}

.content-selection-modal-common .media-frame-content {
    overflow-x: hidden;
}