.hc-tab-content {
    position: relative;
}

.hc-tab-container {
    display: none !important;
    width: 100%;
}

.hc-table {
    width: 100%;
}

.hc-table th {
    text-align: left;
    padding-bottom: 20px;
}

iframe#launcher-frame {
    z-index: 10000 !important;
}

.hc-table td {
    padding-bottom: 8px;
    text-align: left;
}

.hc-tab-trigger.active {
    background-color: var(--primary-faded);
    font-weight: var(--extra-bold);
    color: var(--brightness-7);
}

.hc-tab-container.active {
    display: inline-block !important;
}

.hc-fx.hc-tab-container.active {
    display: flex !important;
}

.hc-container {
    grid-column: 2;
}

.hc-disabled {
    color: var(--brightness-46);
    cursor: not-allowed;
    font-style: italic;
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

/* Analytics CSS */

.pulsating-circle {
    position: absolute;
    width: 10px;
    height: 10px;
}

.pulsating-circle:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    -webkit-animation: pulse-dot 3s cubic-bezier(.455, .03, .515, .955) -.4s infinite;
    animation: pulse-dot 3s cubic-bezier(.455, .03, .515, .955) -.4s infinite;
    --bg-opacity: 1;
    background-color: var(--green);
}

@keyframes pulse-ring {
    0% {
        transform: scale(.33)
    }

    50% {
        transform: scale(1)
    }

    40%, to {
        opacity: 0
    }
}

@keyframes pulse-dot {
    0% {
        transform: scale(.8)
    }

    25% {
        transform: scale(1)
    }

    50%, to {
        transform: scale(.8)
    }
}

.pulsating-circle:before {
    content: "";
    position: relative;
    display: block;
    width: 300%;
    height: 300%;
    box-sizing: border-box;
    margin-left: -100%;
    margin-top: -100%;
    border-radius: 45px;
    -webkit-animation: pulse-ring 3s cubic-bezier(.215, .61, .355, 1) infinite;
    animation: pulse-ring 3s cubic-bezier(.215, .61, .355, 1) infinite;
    --bg-opacity: 1;
    background-color: var(--green);
}

.hc-analytics {
    background-image: url('https://humane.club/wp-content/uploads/sites/6/2020/09/bg6.png') !important;
    background-size: cover;
}

.hc-analytics-change {
    position: absolute;
    top: -14px;
    right: -35px;
}

/* User Event Details Modal CSS */


.user-event-modal-details {
    height: 57vh;
    overflow: auto;
}

.user-event-modal-details .header-cell {
    font-weight: bold;
}

.user-event-modal-details .event-cell {
    word-break: break-word;
}



/* Backend Navbar CSS */

nav.topbar>.navbar-header {
    height: auto;
    max-height: 64px;
}

nav.topbar>.navbar-header>a.navbar-brand {
    display: inline-block;
    border-radius: 4px;
    background-color: transparent;
}


nav.topbar>.navbar-body>ul.nav-list>li.nav-item {
    list-style: none;
}

nav.topbar>.navbar-body>ul.nav-list>li.nav-item.dropdown {
    position: relative;
    display: inline-block;
}

nav.topbar>.navbar-body>ul.nav-list>li.nav-item>.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}

nav.topbar>.navbar-body>ul.nav-list>li.nav-item>.dropdown-content>h6.dropdown-header {
    color: var(--brightness-60) !important;
}

nav.topbar>.navbar-body {
    position: fixed;
    left: 0;
    height: 70px;
    top: 0;
    z-index: 10014;
}

nav.topbar>.navbar-body>ul.nav-list>li.nav-item.dropdown:hover>.dropdown-content {
    display: block;
}

nav.topbar {
    height: 40px;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 20000;
}

nav.topbar>.navbar-body>ul.nav-list>li.nav-item.dropdown:hover>.dropdown-menu {
    left: 10px;
    top: 50px;
    border: none !important;
    min-width: 300px;
    max-height: 80vh;
    overflow: hidden;
}

nav.topbar>.navbar-body>ul.nav-list>li.nav-item.dropdown:hover>.dropdown-menu.dropup {
    left: 50px;
    top: -150px;
}

/* Color picker dropdown css */

.color-circle {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: 1px solid var(--brightness-97);
}

.input-wrapper.hide {
    display: none;
}

/* Triple Dots CSS */
.hc-container {
    position: relative;
}

.post-show-page-details .date-dots-container {
    position: absolute;
    right: 20px;
    top: 20px;
}

.option_container {
    display: none;
}

.cognitively_index_page_options {
    position: relative;
    height: 13px;
}

.option_container.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 14px;
    right: 0;
    background: var(--brightness-97);
    font-size: var(--brand-reading-size);
    box-shadow: 0 0 10px var(--brightness-60);
    justify-items: center;
    z-index: 10013;
}

.option_container>* {
    color: var(--brightness-7) !important;
    padding: 8px 20px;
    width: 100%;
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
}

.option_container>*:hover {
    background: var(--brightness-86);
}

/* Remaining backend CSS. Needs to be cleaned up. */


.action-icon {
    height: 18px;
}


.option_container_open {
    font-size: var(--brand-reading-size);
    color: var(--brightness-46);
    cursor: pointer;
}

.option_container_open:hover {
    color: var(--brightness-7);
}

#wp-admin-bar-new-content, #wp-admin-bar-updates, #wp-admin-bar-comments {
    display: none;
}

.fc-button-active, .dropdown-item.active {
    background: #6950a1 !important;
    color: var(--brightness-97) !important;
}

.user-event-modal-container.open {
    opacity: 1;
    z-index: 100000;
    pointer-events: auto;
}

.user-event-modal-close {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}

.user-event-modal-container {
    position: fixed;
    opacity: 0;
    z-index: -1000;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.4);
}

.user-event-modal {
    max-height: 90vh;
    position: relative;
    width: 700px;
    background: var(--brightness-97);
    box-shadow: 0 0 10px var(--brightness-20);
    overflow-y: auto;
    overflow-x: hidden;
}

.placeholder-tabs .nav-item {
    text-align: left;
}

.user-event-modal>* {
    padding: 20px;
}

.user-event-modal table {
    width: 100%;
}

.user-event-modal-opener {
    cursor: pointer;
}


td.rightsidebar {
    width: 60px;
    overflow: hidden;
}

td.leftsidebar {
    width: 130px;
    text-align: right;
}

.input-wrapper select {
    max-width: unset;
    border: 1px solid var(--brightness-86);
    display: inline-block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    font-size: var(--brand-reading-size);
    font-weight: 400;
    line-height: 1.5;
    color: var(--brightness-20);
    vertical-align: middle;
    background: var(--brightness-97) url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px;
    border: 1px solid var(--brightness-86);
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form-control {
    display: block;
    width: 100% !important;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem !important;
    font-size: var(--brand-reading-size);
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: var(--brightness-46) !important;
    background-color: var(--brightness-97);
    background-clip: padding-box !important;
    border: 1px solid var(--brightness-86) !important;
    border-radius: .25rem !important;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out !important;
}

.input-wrapper p {
    color: var(--brightness-60);
    display: block;
    margin-top: 8px;
    font-size: var(--supernormal-size-s);
    font-weight: 400;
}


.custom-file-label {
    cursor: pointer;
    overflow: hidden;
    word-break: break-all;
}

[type=button].disabled {
    cursor: not-allowed;
}

.hc-backend-header-search::placeholder {
    color: #6950a1 !important;
}

.hc-search-container {
    position: relative;
}

.hc-backend-search-icon {
    left: 9px;
    top: 7px;
    position: absolute;
}

.hc-header-search-item:hover {
    background-color: #544081;
}

.hc-header-content {
    max-height: 60vh;
    overflow: auto;
}

/** For attach media modal **/
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
}

.form-table th {
    padding: 0;
    font-weight: 500;
}

.not-pykih-email .custom-hooks {
    display: none !important;
}


.color-picker {
    width: 43px;
    height: 43px;
    background: none;
    border: none;
    padding: 0;
}

.featured-image-container img {
    max-width: 100%;
}

.yoast-notification {
    display: none !important;
}

.terms-container .terms {
    overflow: hidden;
    height: 25px;
}

.new-translation {
    opacity: 0.3;
}


.source-analytics-icon {
    height: 20px;
}

.disabled-delete {
    cursor: not-allowed;
    opacity: 0.3;
}

.user-show-socials {
    height: 40px;
    overflow: hidden;
    width: fit-content;
}

.humanemenu {
    height: auto;
    max-height: 500px;
    width: 300px;
    overflow-x: hidden;
}
.automate-grid{
	display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit,minmax(218px,218px));
}
.automate-grid-element{
	width: 100%;
	aspect-ratio: 5/3;
    position: relative;
}
.automate-grid a {
    color: var(--brightness-7)!important;
    height: 100%;
    border: none;
}
.hc-card-automated-gallery{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.hc-card-automated-gallery .gallery-info{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.gallery_sub-title-container{
    height: 50px;
}
.automate-grid-element-img{
    height: 100%;
}

@media screen and (max-width: 540px) {
    .dashboard-container .dashboard-grid {
        justify-content: center;
    }
}