
.py_sort-container {
    position: relative;
    padding: 20px;
    float: right;
}

.container-changed {
    background: var(--change-color) !important;
    color: var(--active-color);
    border-radius: 5px;
    width: max-content;
}

.dashboard-container .main-count-container{
    width: fit-content;
}

.dashboard-container .main-sort-container {
    pointer-events: auto !important;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 8px 4px;
    height: 40px;
    width: fit-content;
}

.dashboard-container .sort-container .hc-control-container {
    width: 100% !important;
}
.dashboard-container .sort-container{
    position: absolute;
    top: 42px;
    left: unset !important;
    right: 0;
    width: fit-content;
    overflow: auto;
    z-index: 10000;
    grid-template-columns: 1fr;
    background: #fff;
    box-shadow: none;
    max-height: 70vh;
    padding: 0;
    grid-row-gap: 20px;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 4px;
}
.dashboard-container .dropbtn{
    pointer-events: auto;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    border-radius: 4px;
    height: 40px;
    padding: 4px 8px;
    color: #8c8c8c;
    width: fit-content;
}
.dashboard-container .hc-single-view, .dashboard-container .hc-single-view *{
    pointer-events: none;
}
.dashboard-container .view-dropdown-content>div:hover{
    background-color: white;
}
.dashboard-container .view-dropdown-content{
    width: auto;
    min-width: 160px;
    border: 1px solid #d9d9d9;
    box-shadow: none;
    left: 0;
    border-radius: 4px;
}
.dashboard-container .search-container{
    position: relative;
    align-items: center;
    gap: 8px;
    border: 1px solid var(--brightness-86);
    border-radius: 4px;
    padding: 0 4px;
}
.dashboard-container .search-container .hc-control-container{
    border: none !important;
}
.dashboard-container .hc-filter-results-count{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 10px;
    border-left: 1px solid var(--brightness-86);
    height: 40px;
    display: flex;
    padding: 0 8px;
    gap: 2px;
    align-items: center;
    justify-content: center;
}
.dashboard-container .list-of-views{
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.dashboard-container .sort-title{
    width: fit-content;
    overflow: visible;
    margin-right: 4px;
}
.dashboard-container .sort-text{
    width: fit-content;
    color: #8C8C8C;
}
.dashboard-container .hc-control-dropdown-count, .dashboard-container .hc-control-count {
    display: none !important;
}

.dashboard-container .dropdown-container-changed .hc-option-count {
    display: none !important;
}

.dashboard-container.hc-refresh-dashboard .dropdown-container-changed .hc-option-count {
    display: block !important;
}
.dashboard-container .main-sort-container * {
    pointer-events: none !important;
}

.dashboard-container .global_reset {
    display: none;
}

.dashboard-container .hc-control-restore-filter{
    display: none !important;
}

.dashboard-container .filters-changed .global_reset {
    display: block;
    color: var(--primary-main);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
}
.dashboard-container .dropdown{
    border-top: 1px solid var(--brightness-86);
    border-radius: 0px !important;
    width: 100%;
}
.filter-side-container .title-container{
    margin-bottom: 10px;
    font-weight: bold;
}
.filter-side-container .global_reset{
    top: 0 !important;
    right: 0 !important;
}
.dashboard-container .views-container{
    margin-top: 7px;
}

.filter-side-dashboard{
    margin-top: 33px;
}
.filter-side-dashboard .dashboard-header.topbar{
    flex-grow: 1;
    flex-shrink: 0;
    width: var(--col-12) !important;
    justify-content: space-between;
    height: 40px;
}
.dashboard-container .loading {
    display: none;
    z-index: 10028;
    background: transparent;
}

.dashboard-container.disabled .loading {
    display: block;
}
.dashboard-container.hc-hide-filter-count .hc-option-count{
    display: none !important;
}
.pyk-dropdown-container {
    align-items: center;
    margin: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 10px 20px 10px 10px;
    color: var(--brightness-86);
    background: var(--brightness-97);
    position: relative;
}

.dropdown,
.dropleft,
.dropright,
.dropup {
    position: relative;
}

.selectize.dropdown, .selectize-multiple.dropdown {
    position: static;
}

#cognitively_filter_content_sort .pykcontrol_reset_sort,
#cognitively_filter_customer_content_sort .pykcontrol_reset_sort {
    top: 40px;
    right: 20px;
}

.container-changed .reset_sort {
    stroke: var(--active-color);
}

.reset_sort {
    stroke: transparent;
}

.reset_sort {
    justify-self: end;
    align-self: end;
    cursor: pointer;
    position: absolute;
    top: 0;
    font-size: 14px;
    text-decoration: underline;
    line-height: 10px;
}

.pyk-label {
    grid-column: 1/-1;
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 20px 1fr 20px;
    align-items: center;
    justify-items: center;
    font-size: 12px;
    line-height: 12px;
    pointer-events: none;
}

.pyk_dropdown {
    grid-column: 1/-1;
    grid-row: 3;
    z-index: 1;
    background: var(--brightness-97);
    box-sizing: border-box;
    height: auto;
    overflow: auto;
    font-size: 12px;
    transition: height 0.4s;
    max-height: 45vh;
    display: grid;
    grid-gap: 5px;
    top: 28px;
    left: -1px;
    width: 100%;
    z-index: 10;
}

.pyk_dropdown_option {
    padding: 5px;
    box-sizing: border-box;
    display: grid;
    cursor: pointer;
    border-radius: 6px;
    height: 24px;
}

.is_selected {
    background: var(--active-color) !important;
    color: var(--brightness-97);
}

.is_selected a,
.is_selected a:hover {
    color: var(--brightness-97);
}



.sort-text {
    pointer-events: none;
}

.main-sort-container, .main-dropdown {
    cursor: pointer;
}

.ajax-disable.disabled {
    opacity: 0.5 !important;
    pointer-events: none !important;
}

.ajax-disable.disabled .tooltip {
    opacity: 0 !important;
}

.ajax-disable.disabled * {
    pointer-events: none !important;
}

.humane-filter-dropdown {
    top: 60px;
}

.dashboard-container .dashboard-header {
    margin-bottom: 0;
    grid-column: 1/-1 !important;
    z-index: 20;
}

.dashboard-container .dashboard-header.topbar{
    width: 100%;
}
.dashboard-container .dashboard-grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(218px, 218px));
    grid-auto-rows: fit-content(400px);
}

.dashboard-grid a {
    color: var(--brightness-7) !important;
}

.dashboard-grid .pykslice-image-container {
    height: 132px;
    position: relative;
}

.paginate-container {
    display: inline-grid;
    grid-auto-flow: column;
    grid-auto-columns: 28px 28px fit-content(100px) fit-content(100px) 28px 28px;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 28px;
    width: 100%;
}

.paginate-container .paginate-block {
    outline: none;
    font-family: Inter, sans-serif;
    font-size: 12px;
    min-width: 5px;
    color: var(--brightness-20);
    height: 100%;
    align-content: center;
    margin-left: -1px;
    display: grid;
    border: 1px solid var(--brightness-86);
    box-sizing: border-box;
}

.paginate-container .current-page, .paginate-container .total-pages {
    padding: 0 7px;
}

.paginate-container .block-start {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.paginate-container .block-end {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.paginate-container .next-icon, .paginate-container .end-icon {
    -webkit-transform: translateY(1px) rotate(180deg);
    -moz-transform: translateY(1px) rotate(180deg);
    -ms-transform: translateY(1px) rotate(180deg);
    -o-transform: translateY(1px) rotate(180deg);
    transform: translateY(1px) rotate(180deg);

}

.paginate-container svg {
    padding: 7px;
}

.paginate-container .inactive {
    pointer-events: none;
}

.paginate-container .inactive svg {
    fill: var(--brightness-86);
}

.paginate-action {
    cursor: pointer;
}

img.rounded-circle {
    width: 40px;
    height: 40px;
    background: var(--brightness-86);
}
.list-table-row{
    display: grid;
    grid-auto-flow: column;
    align-items: start;
    border-top: 1px solid var(--brightness-86);
    grid-template-columns: 1fr;
    position: relative;
}
.list-table-row.has_image {
    grid-template-columns: 160px 1fr;
}

.list-table-row .list-table-row-badges{
    grid-column: 1/-1;
}
.list-table-row.has_image .list-table-row-badges{
    grid-column: 2/-1;
}
.list-table-row .carousel-element-icon-container {
    right: 0.75rem;
    position: absolute;
    bottom: 0.75rem;
    cursor: pointer;
    display: grid;
    grid-gap: 10px;
    grid-auto-flow: column;
}

.table-hover .list-table-row:hover {
    /* color: var(--brightness-20); */
    /* background-color: rgba(0, 0, 0, .075); */
}

.table .list-table-cell {
    vertical-align: top;
}

.list-table-cell.rightsidebar {
    /* overflow: hidden; */
    padding: 0;
}

.dashboard-container .inner-view-container {
    display: grid;
    grid-gap: 20px;
    grid-template-rows: fit-content(2000px) 27px;
    height: fit-content;
}

.table-inner {
    display: table;
    width: 100%;
}

.views-container {
    grid-row: 2;
    grid-column: 1/-1;
    display: grid;
}

.views-container .view-container {
    grid-row: 1;
    opacity: 1;
    z-index: 10;
    pointer-events: auto;
}

.views-container .view-hidden {
    opacity: 0;
    z-index: -10;
    pointer-events: none;
    height: 0;
    width: 0;
}
.mapboxgl-popup-close-button{
    font-size: 16px;
    width: 20px;
    height: 20px;
    background: white;
    margin: 8px;
    border-radius: 4px;
}
.mapboxgl-popup-close-button:hover{
    background: white;
}
.mapboxgl-popup-content{
    padding: 0 !important;
}
.mapboxgl-popup-content img{
    width: 100%;
    height: auto;
    max-height: 132px;
    object-fit: cover;
}
.dashboard-container.filter-side-dashboard .filter-dropdown-opener{
    display: none;
}
.dashboard-container .filter-dropdown{
    top: 52px;
    grid-template-columns: 200px 320px;
}
.hc-list-title-link{
    margin-bottom: 8px;
    display: flex;
}
.dashboard-container .filter-container{
    scrollbar-width: thin;
    scrollbar-color: var(--brightness-86) white;
    width: 100%;
}
.dashboard-container .filter-container::-webkit-scrollbar {
    background-color: #fff;
    width: 16px;
}
.dashboard-container .hc-dropdown-minimized{
    /* margin-bottom: -20px !important; */
}
/* .dashboard-container .hc-filter-container{
    gap: 20px;
} */
/* background of the scrollbar except button or resizer */
.dashboard-container .filter-container::-webkit-scrollbar-track {
    background-color: #fff;
}

/* scrollbar itself */
.dashboard-container .filter-container::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 16px;
    border: 4px solid #fff;
}

/* set button(top and bottom of the scrollbar) */
.dashboard-container .filter-container::-webkit-scrollbar-button {
    display:none;
}
.hc-header-megadropdown-container{
    z-index: 1000;
}
.wp_block_content{
    overflow: hidden;
    padding: 10px;
}
.wp_block_card_content{
	overflow: hidden;
	color: var(--brightness-7)!important;
    background : white !important;
  }
  .wp_block_card_content p {
    font-family: var(--supernormal-font) !important;
    line-height: var(--supernormal-size-s) !important;
    font-size: var(--supernormal-size-xs) !important;
  }
  .wp_block_card_content h3{
    line-height: 20px;
  }
  .hc-flex-wrap{
    flex-wrap: wrap;
  }
  .hc-taxt-copy{
    display: none;
  }
  .hc-reusable-middle-content ol{
     padding-left:20px; 
 }
 a{
    overflow-wrap: break-word;
 }
 .humane_datastory_page .wp-block-table.has-70-percent-width thead th{
    border-bottom: 1px solid var(--brightness-86) !important; 
 }
 .hc-flex-shrink-1000{
    flex-shrink: 1000;
 }
 .hc-container-search-sorting{
    flex-grow: 1;
    width: var(--col-12) !important;
    justify-content: space-between;
    height: 40px;
    margin-bottom: 20px;
    z-index: 10012;
    justify-self: end;
    grid-column-gap: 20px;
    grid-gap: 10px;
    align-items: center;
 }
 .hc-author-and-cat{
    display: flex;
    flex-direction: column;
    justify-content: center;
 }
 .filter-mobile-container {
    width:100%;
 }
 .hc-datawrapper{
    background-color: #fff;
 }
 .hc_filter_left .hc-newsfeed-row{
    width:700px;
 }
 .hc-newsfeed-row{
    max-width: 940px;
}
 .hc_filter_left .hc-newsfeed-row img{
   /* width: -webkit-fill-available; */
 }
 td.column-count_columns,td.column-count_rows{
    text-align: center;
 }
 .humane_datasets_wrapper{
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
 }
.dictionary{
    display: grid;
}
.dict-col-3{
    grid-template-columns: 33% 33% 33%;
}
.dict-col-4{
    grid-template-columns: 25% 25% 25% 25%;
}

@media screen and (min-width: 940px) {
    .dashboard-container .filter-dropdown-opener{
        pointer-events: auto!important;
        border: 1px solid #d9d9d9;
        box-sizing: border-box;
        border-radius: 4px;
        padding: 8px 4px;
        color: #8c8c8c;
        font-size: 12px;
        height: 40px;
        align-items: center;
        gap: 10px;
        display: flex;
        min-width: unset;
        width: fit-content;
    }
}
@media screen and (max-width: 940px) {
    .hc-col-16.mapboxgl-map {
        width: 90vw;
    }
    .dashboard-container .filter-dropdown-opener{
        pointer-events: auto!important;
        border: 1px solid #d9d9d9;
        box-sizing: border-box;
        border-radius: 4px;
        padding: 8px 4px;
        color: #8c8c8c;
        font-size: 12px;
        height: 40px;
        align-items: center;
        gap: 10px;
        display: flex;
        min-width: unset;
        width: fit-content;
    }
}
@media screen and (max-width: 640px) {
    #wpadminbar {
        display: none;
    }
    .dashboard-container .top-header-bar{
        z-index: 10000000000;
        display: none;
    }
    .dashboard-container .view-dropdown-content>div:first-of-type{
        margin-top: 0 !important;
    }
    .dashboard-container .count-container{
        grid-template-columns: fit-content(100px) 1fr auto;
    }
    .dashboard-container .view-dropdown-content{
        position: absolute !important;
        height: fit-content !important;
    }
    .filter-side-dashboard .dashboard-header.topbar{
        max-height: 0;
        width: 100vw !important;
    }
    .dashboard-container .perspectives-show.dashboard-header .filter-side-container{
        display: block !important;
    }
    .dashboard-container .dashboard-header.perspectives-show{
        height: fit-content !important;
        top: unset !important;
        height: 70vh !important;
        opacity: 1;
        transition: height 400ms ease-out;
    }

    .dashboard-container .hc-filters-title{
        font-size: 20px;
        font-family: 'Inter';
    }
    .dashboard-container .hc-open-mobile-filters{
        margin-left: auto;
    }
    .dashboard-container .hc-filter-title, .dashboard-container .hc-sort-title{
        font-size: 20px;
        font-family: 'Inter';
    }
    .dashboard-header.perspectives-show .filter-container{
        opacity: 1;
    }
    .dashboard-container .filter-container-main :global(.pyk-control-container) {
        width: 90vw !important;
    }
    .dashboard-container .hc-filter-overlay{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 3453;
        background: black;
        opacity: 0.6;
        display: none;
    }
    .dashboard-container .hc-filter-overlay.perspectives-show{
        display: block !important;
    }
    .dashboard-container .filter-container-main > div:last-of-type {
        margin-bottom: 20px;
    }
    .dashboard-container .hc-mobile-sort.perspectives-show{
        height: fit-content !important;
        max-height: 70vh;
        transition: max-height 400ms ease-out !important;

    }
    .dashboard-container .hc-mobile-sort.perspectives-show .sort-container{
        opacity: 1 !important;
        max-height: 70vh;
        padding: 20px;
    }
    .dashboard-container .pyk_dropdown_views{
        padding: 0 !important;
    }
    .automate-grid{
        place-content: center;
    }
    .dict-col-3, .dict-col-4{
        grid-template-columns: 50% 50%;
    }
}
@media screen and (max-width: 540px) {
    .hc-newsfeed-row{
        width: -webkit-fill-available !important;
    }
    .cognitively-newsfeed-view{
        min-width: -webkit-fill-available;
    }
    .dashboard-container .main-dropdown{
        margin-top: 0 !important;
    }
    .automate-grid{
        grid-template-columns: repeat(auto-fill, 100%);
    }
    .hc-container-search-sorting{
        position: relative;
        width: 90% !important;
        z-index: unset;
    }
    .search-container{
        position: absolute;
        left: 0;
        right: 0;
    }
    /* .dashboard-container .views-container{
        place-content: start !important;
        width: auto !important;       
    } */
    .dashboard-container .view-dropdown-content{
        top: 104px;
        left: 20px;
    }
    .dashboard-container .dashboard-header{
        height: 0px;
        overflow: hidden;
        bottom: 0;
        position: fixed;
        transition: height 400ms ease-out;
        margin-bottom: 0;
        display: block !important;
        z-index: 10000000632;
        margin-bottom: 0 !important;
        border-top-left-radius: 15px !important;
        border-top-right-radius: 15px !important;
        bottom: 0 !important;
        background: white !important;
        overflow: hidden !important;
        width: 100vw !important;
    }
    .dashboard-container .dashboard-header.topbar{
        display: block !important;
    }
    .dashboard-container .hc-mobile-sort{
        width: 100%;
        opacity: 1 !important;
        height: fit-content !important;
        overflow: visible !important;
        display: block !important;
        transition: max-height 500ms ease-out !important;
    }
    .dashboard-container .main-count-container{
        display: none !important;
    }
    .dashboard-container .hc-mobile-sort .main-sort-container{
        display: none;
    }
    .dashboard-container .hc-filter-dropdown{
        align-items: center;
        gap: 8px;
        border: 1px solid #d9d9d9;
        color: #8c8c8c;
        font-size: 12px;
        border-radius: 4px;
        height: 40px;
    }
    .dashboard-container .filter-container-main{
        margin-top: 0 !important;
        opacity: 1 !important;
        height: 85% !important;
        bottom: 0 !important;
        top: unset !important;
        background: transparent !important;
        box-shadow: none !important;
        overflow: auto !important;
        border: none !important;
        pointer-events: auto !important;
    }
    .dashboard-container .filter-container-main {
        width: 100%;
        overflow: auto;
        padding: 20px !important;     
        left: 20px;
        display: flex !important;
        background: transparent;
        margin-top: 0 !important;
        padding-top: 0 !important;
        padding-bottom: 20px !important;
        max-height: 70vh !important;
    }
    .dashboard-container .filter-dropdown .title-description-container{
        margin-bottom: 0 !important;
    }
    .dashboard-container .global_reset{
        position: absolute !important;
        top: 22px!important;
        right: 50px !important;
    }
    .dashboard-container .sort-container .hc-control-container{
        border: none;
    }
    .dashboard-container .filter-container{
        padding: 0;
        border: none;
        height: fit-content;
        max-height: unset !important;
        margin: 0;
        opacity: 0;
    }
    .dashboard-container .filter-container-main.active{
        display: block !important;
        overflow-x: hidden;
    }
    .dashboard-container .hc-mobile-sort .sort-container{
        left: 0 !important;
        border: none;
        width: 100%;
        box-sizing: border-box;
        border-top-left-radius: 15px!important;
        border-top-right-radius: 15px!important;
        box-shadow: none !important;
        position: static !important;
        /* height: fit-content !important; */
        overflow: hidden;
        max-height: 0;
        transition: max-height 400ms linear !important;
        padding: 20px !important;
    }
    .dashboard-container .sort-container{
        top: 0 !important;
        grid-gap: 0 !important;
    }
    .views-container.hc-px-0.hc-mx-20-mobile.sidebar.hc-col-12{
        width: 100% !important;
    }
    .list-table-cell-left{
        overflow:hidden;
    }
    .dict-col-3, .dict-col-4{
        grid-template-columns: 50% 50%;
    }
}
@media screen and (max-width: 720px) {
    .hc-container-search-sorting{
        width: var(--col-8) !important;
    }
    /* .dashboard-container .views-container{
        place-content: center;
        width: 100%;
    } */
    .newsfeed-list-view{
        width: var(--col-6) !important;
    }

}

