#wp-admin-bar-classic-ui{
	display: none;
}
.object-row a{
	text-decoration: none !important;
}
#wp-admin-bar-root-default{
    display: inline-grid;
    grid-auto-flow: column;
    grid-auto-columns: fit-content(600px);
}
#wp-admin-bar-custom-ui-humane{
    grid-column: 1;
}
.wp-list-table{
    table-layout: auto !important;
}
#wp-admin-bar-menu-toggle{
    display: none;
}

#wp-admin-bar-classic-ui{
    grid-column: 1;
}

#wp-admin-bar-custom-ui-humane .ab-item{
    display: flex !important;
    align-items: center;
}
#wp-admin-bar-custom-ui{
	display: none;
}
#wp-admin-bar-custom-ui .ab-item img, #wp-admin-bar-custom-ui-humane .ab-item img{
    height: 20px;
}
